.cmp-product-thumb{
    padding: 0;
    width: 100%;
    overflow: hidden;
    border: 0;
    background-color: transparent;
    margin-bottom: $grid-gutter-width;

    .thumb-background{
        display: none;
    }

    .thumb-inner{
        position: relative;
        height: 100%;
        transition: all 400ms;
    }

    .thumb-image{
        position: relative;
        width: 100%;
        display: block;
        vertical-align: top;
        cursor: pointer;
        .owl-carousel {
            .owl-nav [class*=owl-] {
                opacity: 1;
                border-radius:0;
                &:hover {
                    background: $brand-primary;
                }
            }
            .owl-dot {
                span {
                    background: $gray;
                }
                &.active span{
                    background:$gray-darker;
                }
            }
        }
    }

    .main-image{
        @include img-contain();
        position: absolute;
        background-color: #fff;
    }

    //TODO create separate mixin
    .special-tags{
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;

        padding: .5rem;

        .special-tag,
        .tag{
            display: block;
            padding: .3em .5em .2rem;
            font-size: .9rem;
            font-weight: 300;
            box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
        }
    }

    .thumb-content{
        position: relative;
        display: block;
        vertical-align: top;
        width: 100%;
        height: auto;
        padding: 0;
        margin-left: 0;
        background-color: transparent;

        transition: all 200ms ease-in-out;
    }

    .thumb-title{
        display: block;
        position: relative;
        text-align:left;
        font-weight: normal;
        color: $gray-darker;
        line-height: 1.4em;
        font-size: .9rem;
        margin-top: 1rem;
    }

    .thumb-meta{
        margin-top: .5rem;
        text-align:right;
        @include clearfix();
    }

    .crossprice{
        font-size: .81em;
        font-weight: normal;
        color: $brand-danger;
        float: right;
    }

    .price {
        color: $gray-darker;
        line-height: 1.1;
        font-weight: normal;
        font-size: 1.5rem;
        float: right;
        margin-left: .3rem;
    }

    .thumb-buy{
        display: block;
    }

    .btn-group {
        position: absolute;
        bottom: 0;
        left: calc(120px + 0.8rem);
        z-index: 1000;
        transition:all .3s ease;
        opacity: 1;
    }


    @include media-breakpoint-up(sm){
        padding: 0;
        margin-bottom: $grid-gutter-width;

        .thumb-background{
            display: none;
        }

        .thumb-scroll-cmd {
            flex: 0 0 auto;
            text-align: center;
            padding: .4rem;
        }

        .thumb-btn-buy{
            min-height: 2rem;
        }

        .thumb-content{
            padding: 0;
            width: 100%;
            margin: 0;
        }

        .btn-group {
            bottom: .8rem;
            left: auto;
            right: .8rem;
        }

        .thumb-title{
            font-weight: 400;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1.5em;
        }

        .thumb-image{
            width: 100%;
        }

        .img-fluid {
            transition: transform .4s cubic-bezier(0, 0, .26, 1), opacity .3s cubic-bezier(0, 0, .26, 1), -webkit-transform .3s cubic-bezier(0, 0, .26, 1);
        }

        &:hover {
            z-index: 1000;


            .img-fluid {
                transform: scale(1.05);
            }

        }

    }

    @include media-breakpoint-up(md){
        .thumb-image{
            .owl-carousel {
                .owl-nav [class*=owl-] {
                    opacity: 0;
                }
                .owl-dots {opacity:0; transition: all .2s ease;}
            }
        }
        &:hover {
            .thumb-image{
                .owl-carousel {
                    .owl-nav [class*=owl-] {
                        opacity: 1;
                    }
                    .owl-dots {opacity:1; transition: all .2s ease;}
                }
            }
        }
    }

    @include media-breakpoint-up(lg){
        .btn-group {
            transition:all .3s ease;
            opacity: 0;
        }
        &:hover {
            .btn-group {
                transition:all .3s ease;
                opacity: 1;
            }
        }
    }
}
