.cmp-basket-preview-item{
	.item-remove {
		left: auto;
		right:0;
	}
	.eek-sign {
		max-width: 4rem;
		clear: both;
		span {
			font-size: 1.5em;
			min-width: auto;
			padding:0rem 1rem 0rem .75rem;
		}
		&:after {
			border-width: .8rem 0 .8rem .8rem;
		}
	}
}