.cmp-basket-preview-item{
	.item-remove {
		left: auto;
		right:0;
		&.btn-danger:hover {
			color: $white;
		}
	}
	.eek-sign {
		max-width: 4rem;
		clear: both;
		span {
			font-size: 1.5em;
			min-width: auto;
			padding:0rem 1rem 0rem .75rem;
		}
		&:after {
			border-width: .8rem 0 .8rem .8rem;
		}

	}

	.basket-item-infos{
		position: relative;
		max-width: 100%;
		width: 66%;

		a{
			display: block;
			transition: color 250ms;

			&:hover{
				text-decoration: none;
			}
		}
	}
	
	.item-name{
		position: relative;
	    display: flex;
        text-overflow: ellipsis;
        max-height: 3em;
        overflow: hidden;
        font-weight: 700;
        margin-bottom: .5rem;

        &:after{
            content: "…";
            display: inline-block;
            height: 50%;
            position:absolute;
            right: .25em;
            bottom: 0; 
            background-color: white;
        }
	}

	.item-unit-price {
	    width: 50%;
	    float: left;
	}

	.item-total-price {
	    width: 50%;
	    float: right;
	    font-size: 1.5em;
	    font-weight: 700;
	    text-align: right;
	}
	

	.item-remove{
		position: absolute;
	    bottom: 0;
	    left:auto;
	    line-height: 1;
	    cursor: pointer;					
		color: $gray-lighter;

		&:hover {
			color:$brand-danger;
			text-decoration: none;
		}
		&.btn-danger:hover {
			color:white;
		}
		&:focus {outline:none;}
	}
}
