.custom-select{
	border: none;
	width: 100%;
	text-align: left;
	text-align-last: left;
	line-height: 1.2em;

	padding: .8rem 2rem .8rem 1rem;
	background-position: calc(100% - 1rem) 1rem;

	option{
		width: auto;
	}
}
.login-form {
	.custom-select{
		text-align: left;
		text-align-last: left;
	}
}