{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set image = item.data.images.all | first %}
{% set configItemName = config("Ceres.item.name") %}

<article class="cmp cmp-product-thumb cmp-crossselling-thumb">

            <div class="square-container">
                <div class="square-inner main-image">

                    
                        <a href="{{ item.data.item.id | buildItemURL(item.data.variation.id, true) }}">
                            <img class="img-fluid" src="{{ image.urlMiddle }}">
                        </a>
                  
                    
                </div>
            </div>
            <a href="{{ item.data.item.id | buildItemURL(item.data.variation.id, true) }}" class="thumb-title">
                {{ item.data.texts[0].name1 }}
            </a>

</article>