button:focus {
	outline:none !important;
}

.btn-link:focus, .btn-link:hover {
    color: $brand-primary;
    text-decoration: none;
    background-color: transparent;
    outline: none;
}

.eek-sign {
	position:relative;
	max-width: 5rem;
	span {
		background: $green;
		color: $white;
	    padding: .25rem 1rem .25rem .75rem;
	    font-size: 1.5rem;
		display: block;
		min-width: 4.5rem;
	}
	&:after {
		display: block;
	    position: absolute;
	    left: 100%;
	    top: 0;
	    height: 100%;
	    background: transparent;
	    content: "";
	    border-style: solid;
	    border-width: 1.25rem 0 1.25rem 1.25rem;
	    border-color: transparent transparent transparent $green;
	}
	&.eek-aa span {background: $eek-aa;}
	&.eek-a span {background: $eek-a;}
	&.eek-b span {background: $eek-b;}
	&.eek-c span {background: $eek-c;}
	&.eek-d span {background: $eek-d;}
	&.eek-e span {background: $eek-e;}

	&.eek-aa:after {border-color: transparent transparent transparent $eek-aa;}
	&.eek-a:after {border-color: transparent transparent transparent $eek-a;}
	&.eek-b:after {border-color: transparent transparent transparent $eek-b;}
	&.eek-c:after {border-color: transparent transparent transparent $eek-c;}
	&.eek-d:after {border-color: transparent transparent transparent $eek-d;}
	&.eek-e:after {border-color: transparent transparent transparent $eek-e;}

	&:hover {
		cursor: pointer;
		span {
			background:darken($green, 10%);
		}
		&:after {
		    border-color: transparent transparent transparent darken($green, 10%);
		}
	}
}



.AddToBasket {
	margin-top:.5rem;
	.AddToBasket-inner {
		position: relative;
		.eek-sign {
			position:absolute;
			max-width: 100%;
		}
		.btn-buy {
			display: block;
			padding: .55rem 1rem .55rem 2.5rem;
    		line-height: 1.5;
    		width: 100%;
    		background:$white;
    		@include media-breakpoint-up(sm){
				padding: .55rem 1rem .55rem 3rem;
		    }
		    &:hover {
				cursor: pointer;
				background:darken($white, 10%);
			}
		}
		.availability-preview {
			position: absolute;
		    right: 0;
		    top: 0;
		    color: white;
		    background: $green;
		    padding: .3rem 1rem;
		    font-size: 1.5rem;
		    @include media-breakpoint-up(sm){
				padding: .275rem 1rem;
		    }
		    &:hover {
				cursor: pointer;
				background:darken($green, 10%);
			}
			&.availability-1 {background:$availability_1;}
			&.availability-2 {background:$availability_2;}
			&.availability-3 {background:$availability_3;}
			&.availability-4 {background:$availability_4;}
			&.availability-5 {background:$availability_5;}
		}
	}
}