a:hover,
a:focus,
a:active {
    text-decoration: none;
    cursor: pointer !important;
}

.modal-footer {
    text-align: left;
}


@include media-breakpoint-up(md){
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}