body .wrapper-main{
    overflow-x: hidden;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    cursor: pointer !important;
}

.input-group {
    .form-control {padding: .6rem .75rem .55rem;}
}

.modal-footer {
    text-align: left;
}


@include media-breakpoint-up(md){
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}