body .wrapper-main{
    overflow-x: hidden;
}

#tsbadgeResponsiveTop_db8d3657bdbe440c985ae127463eaad4 {
    position: fixed;
    bottom: 0;
    z-index:9999;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    cursor: pointer !important;
}
a:focus {outline:none;}

#add-item-to-basket-overlay{
    .modal-body {
        p.small {display:none;}
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.footer .input-group {
    .form-control {padding: .6rem .75rem .55rem;}
}

.modal-footer {
    text-align: left;
}


@include media-breakpoint-up(md){
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.is-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}