.sidebar-categories {
    background:$white;
    .category-title {
        background: $brand-primary;
        padding: 1.2rem;
        text-transform: uppercase;
    }
    ul {
        @include reset-list();
        li {
            a {
                display: block;
                color: $gray-light;
                padding: 1rem;
                &:hover {
                    color: $gray-dark;
                    background: $gray-lightest;
                }
            }
            ul {
                li {
                    a {
                        padding-left:2rem;
                    }
                }
            }
            &.active {
                &>a {
                    background: $brand-secondary;
                }
            }
        }
    }
}

.list-controls {
    position:relative;
    background:$brand-secondary;
    padding: .8rem 0 0;
    .dropdown-toggle,
    .filter-toggle {
        color: $gray-dark;
        text-transform: uppercase;
    }
    .list-sort,
    .list-itemsperpage {
        float: left;
    }
    .selected-filters {
        display: inline-block;
        float: right;
        @include media-breakpoint-up(sm){
            margin-right: 3rem;
        }
        padding: .5em;
        .selected-filter {
            font-size: .8rem;
            padding: .25em .5em .5em;
            margin: 0 5px 5px 0;
            float: left;
            cursor: pointer;

            display: inline-block;
            &:hover {
                color: $brand-danger;
            }
        }
    }
    .filter-toggle {
        display: inline-block;
        float: right;
        padding: .5em;
        i {transition:all .2s ease;}
        &[aria-expanded="true"]{
            i {
                transform: rotate(-90deg);
                transition:all .2s ease;
            }
        }
    }
    #filterCollapse {
        position: absolute;
        z-index: 9999;
        width: 100%;
        .page-content {
            background: $white;
            padding: 2em !important;
            border:1px solid $gray-lighter2;

            .card {
                background-color: transparent;
                border:0;
                padding-right: 2em;
                h3 {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    border-bottom: 1px solid $gray-light;
                    padding-bottom: .5rem;
                    font-weight: bold;
                    color: $gray-dark;
                }
                .form-check {
                    .form-check-input:checked + label {
                        background: $gray-lighter2;
                        color: $gray-darker;
                        padding-left:1.75rem;
                        &::before {
                            font-family: 'FontAwesome';
                            content: "\f046";
                            opacity: 1;
                        }
                    }
                    .form-check-label {
                        padding:.5rem 0;
                        padding-left: 0;
                        color: $gray-dark;
                        display:block;
                        transition:all .1s ease;
                        &:hover{
                            background: $gray-lightest;
                            color: $gray-dark;
                            transition:all .1s ease;
                            padding-left:.5rem;
                        }
                        &::before {
                            font-family: 'FontAwesome';
                            content: "\f046";
                            opacity: 0;
                            position: absolute;
                            left:.5rem;
                        }
                    }
                    .filter-badge {
                        position: absolute;
                        display: inline-block;
                        font-size: .65rem;
                        background: $gray-lighter2;
                        padding: .1rem 0;
                        color: $gray;
                        right:.5rem;
                        text-align: center;
                        min-width: 3em;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}