.filter-toggle {
    &[aria-expanded="true"]{
        i::before {
            content: "\f00d";
            transition: all .3s ease;
        }
    }
}
#filterCollapse {
    position: absolute;
    width: 100%;
    z-index: 999;
    .page-content {
        background: $gray-lighter2;
        padding: 2em !important;

        .card {
            background-color: transparent;
            border:0;
            padding-right: 2em;
            h3 {
                text-transform: uppercase;
                font-size: 1.2rem;
                border-bottom: 1px solid $gray-light;
                padding-bottom: .5rem;
                font-weight: bold;
                color: $gray-dark;
            }
            .form-check {
                .form-check-input:checked + label {
                    background: $brand-primary;
                    padding-left:.5em;
                }
                .form-check-label {
                    padding-left: 0;
                    display:block;
                    transition:all .3s ease;
                    &:hover{
                        background: $brand-secondary;
                        transition:all .3s ease;
                        padding-left:.5em;
                    }
                }
                .filter-badge {
                    position: absolute;
                    display: inline-block;
                    font-size: .7rem;
                    background: #fce28b;
                    padding: .3rem .5rem .2rem;
                    color: #555;
                    top:0;
                    right:0;
                    text-align: center;
                    width: 4em;
                }
            }
        }
    }
}