.list-controls {
	.list-controls-inner {
		background: $brand-secondary;
		color:$gray-darker;
	}
	.btn-link,
	.custom-select {
		color: $gray-darker;
	}
	#filterCollapse {
		position: static;
		margin:.5em 0;
	}
	.filter-toggle {
		top: 0.85em;
		transform: translateY(0%);
	}
}