
.sidebar-categories {
    background:$white;
    font-family: $font-family-heading;
    height: 100%;
    .category-title {
        background: $brand-primary;
        padding: 1.2rem 2rem;
        text-transform: uppercase;
    }
    ul {
        @include reset-list();
        li {
            &.first-level {display:none;}
            &.first-level.active {display:list-item;}
            a {
                display: block;
                color: $gray-dark;
                padding: .75rem 15px;
                font-size: 1rem;
                &:hover {
                    color: $gray-darker;
                    background: $gray-lightest;
                }
            }
            ul {display:none;}
            &.active {
                & > ul {
                    display: block;
                }
                ul {
                    li {
                        a {
                            padding-left:1.5rem;
                        }
                        ul li {
                            a {
                                padding-left: 3.5rem;
                            }
                            ul li a {
                                padding-left: 5.5rem;
                            }
                        }

                    }
                }
            }
            &.active {
                &>a {
                    background: $brand-secondary;
                }
            }
        }
    }
}


.cat-teaser {
    display: none;
}
.item-confirm-special-case-close {
  float: right;
}

.item-confirm-special-case-blue {
  float: left;
  width: initial;
  position: absolute;
}

.product-list{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;

	display: flex;
	flex-flow: row wrap;

//	li{
//        @include make-col-ready(12);
//        @include make-col(12);
//	}
}

.lazy{
    display:none;
}
@include media-breakpoint-up(lg){
    .cat-teaser {
        margin-top:-72px;
        display: block;
    }


    .product-list.grid{

        li{
            //@include make-col(3);
            display: flex;
        }
    }

}

.item-list-frame.loading:not(.blur-effect) > ul {
  display: none
}
