.crossselling-list .owl-item {
    width: 300px;
    float: left;
}
.single{
    .back-link {
        color: $gray-dark;
        i {padding-right:.25rem;}
    }
    .sidebar-categories {
        ul {
            li {
                &.first-level {display:list-item;}
            }
        }
    }


    .main-image{
        img{
            width: 100%;
        }
    }

    .title{
        line-height: 1.2;
        font-family: $font-family-heading;
    }
    h3 {
        font-family: $font-family-heading;
    }
    .producertag {
        text-align: right;
        .producer{
            line-height: 1.1;
            font-weight: 700;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .single-description {
        font-size: .85rem;
    }
    .crossprice {
        text-align: right;
        color: $brand-danger;
    }
    .price {
        text-align: right;
        font-size: 1.5rem;
        & > span {
            position: relative;
            right: -5px;
        }
        & > sup {
            font-size: 1rem;
            top: -1rem;
        }
    }
    .input-number {
        text-align:center;
    }

    .vat {
        text-align: right;
        float: right;
    }

    .basket-btn span {
        display: none;
    }

    .crosssellers {
        img {
            max-width: 100%;
            width: auto;
        }
        .special-tags{
            padding: .3rem;
        }
    }
    .nav-tabs {
        border:0;
        .nav-item {
            .nav-link {
                border:0;
                font-family: $font-family-heading;
                font-size: 1.2rem;
                display: inline-block;
                &.active,
                &:hover {
                    border:0;
                    color: $gray-darker;
                    background:$white;
                }
            }
            &+.nav-item {
                margin-left: 0;
            }
        }
    }
    .tab-content {
        .tab-pane {
            background: $white;
            padding: 1em;
            ul {
                padding: 0 1em;
            }
        }
    }
}

.owl-thumbs {display:none;}

.owl-carousel {
    .owl-stage-outer.owl-height {
        max-height: 40em;
        img {
            max-height: 40em;
            width: auto;
            margin: 0 auto;
            max-width: 100%;
        }
        .owl-item  {
            background:white;
        }
    }
    .carousel-control {
        background-image: none !important;
        opacity: 1;
        display: block;
        &:hover {
            opacity: 1 !important;
            i {color:$brand-primary;}
        }
    }
    .owl-single-item-control {
        color: $gray-dark;
        text-shadow: none;
        font-size: 3rem;
    }
    .owl-dots {
        display: block;
    }
}
.availability-wrapper {
    .availability {
        display: block;
        white-space: normal;
        text-align:left;
    }
}

.availability {
    padding:0;
    line-height: 1.5;
}
.availability_1,
.availability_2 {background-color: transparent; color:$availability_1;}
.availability_3,
.availability_4 {background-color: transparent; color: $availability_3;}
.availability_5 {background-color: transparent; color: $availability_5;}



.rating{
    .tag{
        padding-right: 0;
        overflow: hidden;
        cursor: pointer;

        .amount{
            padding: 0.2rem .6rem 0.2rem .4rem;
            margin-left: .2rem;
            background-color: #4d5154;
        }
    }
}




.rezension {
    display: inline-block;
}

.img-thumbnail {
    border:none;
    border-radius:none;
    padding: .75rem .45rem .25rem 0;
}

.wishlist {
    &:hover {
        color: #d9534f!important;
        text-decoration: none;
    }
}

.single-rightside {
    .shariff {
        .orientation-horizontal {
            li {
                .fa {
                    line-height: 30px;
                    text-align: center;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    
}
@include media-breakpoint-only(md) {
    .single {
         .price {
                float: right;
            }
    }
}

@include media-breakpoint-up(md) {
    
    .owl-thumbs {
        display: inline-block;
        .owl-thumb {
            max-height: 8em;
            background:$white;
            border:1px solid rgba($brand-primary, .5);
            margin:.5rem .5rem 0 0;
            &.active,
            &:hover {
                border:1px solid $brand-primary;
                cursor: pointer;
            }
        }
    }
    .single {
        .producertag {
            text-align: left;
        }
        .nav-tabs {
            .nav-item {
                .nav-link {
                    border:0;
                    &.active,
                    &:hover {
                        border:0;
                        color: $gray-darker;
                        background:white;
                    }
                    &.active {
                        border-bottom:0;
                    }
                }
                &+.nav-item {
                    margin-left: -1px;
                }
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .single {
        .basket-btn span {
            display: inline;
        }
    }
}