{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}


    <div class="static container-max page-content">

	<h1>Über uns</h1>
	<h3 style="text-align: left;"><span style="color: #000000;">Kiom24.de Designlamps steht für Leuchten und Lampen in aufsehenerregendem Design gepaart mit exzellentem Preis / Leistungsverhältnis.</span></h3>
<span style="color: #000000;">Sie sind auf der Suche nach Designleuchten, die nicht nur ästhetisch überzeugen, sondern innovative Technik zu günstigen Preisen bieten? Dann sind Sie bei uns richtig! </span><br>
<div style="text-align: left;"><br><span style="color: #000000;"> Denn Kiom24.de ist Deutschlands Leuchtenspezialist mit einer besonders großen Auswahl an stromsparenden LED- und&nbsp; CCFL-Tageslichtleuchten. Unser Angebot umfasst zudem viele weitere wechselnde Lichtdesign-Highlights wie <a href="http://www.kiom24.de/gambio/Innenleuchten/Bogenleuchten/" target="_self"><span style="color: #000000;">Bogenleuchten</span></a> oder Bankerslampen. </span><br> <br><span style="color: #000000;"> Überzeugen Sie sich selbst, wie die Technik von übermorgen und ein hoher ästhetischer Anspruch bei uns eine perfekte Verbindung eingehen - zu Direktvertriebs Preisen, die sich ebenfalls sehen lassen können!&nbsp; Unsere Produkte und unser Service wird Sie überzeugen.</span></div>

    </div>

{% endblock %}