{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}


    <div class="static container-max page-content">

        test
        

    </div>

{% endblock %}