{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}


    <div class="static container-max page-content">

		<h1>Kontakt</h1>
		<p>Nehmen Sie Kontakt auf, wir werden Ihre Anfrage umgehend bearbeiten.</p>
		<br />

		<p>Wir freuen uns auf Ihre Kontaktaufnahme per eMail oder rufen Sie uns doch einfach an.</p>

		<p>KIOM GmbH &amp; Co. KG<br />
		Am Bleichanger 46<br />
		87600 Kaufbeuren<br />
		Deutschland</p>

		<p>Tel :&nbsp;&nbsp;&nbsp; +49 (0)8341 9080 533<br />
		Fax:&nbsp;&nbsp;&nbsp; +49 (0)8341 9080 532<br />
		eMail: <a href="mailto:info@kiom24.de">info@kiom24.de</a></p>
		
		<form id="support" name="support" class=" form-horizontal" method="post" action="https://www.kiom24.de/ticket/index/id/5" enctype="multipart/form-data">
		<input type="hidden" name="forceMail" value="0">
		<fieldset>
		<div class="form-group">
		<label class="control-label col-lg-4" for="anrede">Anrede*:</label>
		<div class="col-lg-6">
		<select class="form-control required" id="anrede" name="anrede">
		<option selected="selected" value="">Bitte wählen</option><option>Frau</option><option>Herr</option></select>
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-lg-4" for="vorname">Vorname*:</label>
		<div class="col-lg-6">
		<input type="text" class="form-control required" value="" id="vorname" name="vorname">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-lg-4" for="nachname">Nachname*:</label>
		<div class="col-lg-6">
		<input type="text" class="form-control required" value="" id="nachname" name="nachname">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-lg-4" for="telefon">Telefon:</label>
		<div class="col-lg-6">
		<input type="text" class="form-control " value="" id="telefon" name="telefon">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-lg-4" for="email">eMail-Adresse*:</label>
		<div class="col-lg-6">
		<input type="email" class="form-control required" value="" id="email" name="email">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-lg-4" for="betreff">Betreff*:</label>
		<div class="col-lg-6">
		<input type="text" class="form-control required" value="" id="betreff" name="betreff">
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-lg-4" for="kommentar">Kommentar*:</label>
		<div class="col-lg-6">
		<textarea class="form-control required" id="kommentar" name="kommentar"></textarea>
		</div>
		</div>
		<div class="form-group captcha">
		<div class="col-lg-offset-4 col-lg-6">
		<div class="row">
		<div class="col-xs-3 col-lg-6">
		<img src="https://www.kiom24.de/captcha/index/rand/1f2f5acb15598da90388adf8ac2427ab" alt="Captcha" class="img-responsive">
		<input type="hidden" name="sRand" value="1f2f5acb15598da90388adf8ac2427ab">
		</div>
		<div class="col-xs-6">
		<p class="mmb">
		<small>Bitte geben Sie die Zahlenfolge in das nachfolgende Textfeld ein</small>
		</p>
		<input type="text" name="sCaptcha" class="form-control">
		</div>
		</div>
		</div>
		</div>
		<div class="form-group">
		<div class="col-lg-offset-4 col-lg-6">
		<span class="help-block required-info">Die mit einem * markierten Felder sind Pflichtfelder.</span>
		<input class="btn btn-primary" type="submit" name="Submit" value="Senden">
		</div>
		</div>
		</fieldset>
		</form>
        

    </div>

{% endblock %}