{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}


    <div class="static container-max page-content">
<h1>Entsorgung</h1>
<p>&nbsp;</p>
<p><strong>Elektro- und Elektronikgeräte – Informationen für private Haushalte</strong></p>
<p>Das Elektro- und Elektronikgerätegesetz (ElektroG) enthält eine Vielzahl von Anforderungen an den Umgang mit Elektro- und Elektronikgeräten. Die wichtigsten sind hier zusammengestellt.</p>
<p>&nbsp;</p>
<p>1. Getrennte Erfassung von Altgeräten</p>
<p>Elektro- und Elektronikgeräte, die zu Abfall geworden sind, werden als Altgeräte bezeichnet. Besitzer von Altgeräten haben diese einer vom unsortierten Siedlungsabfall getrennten Erfassung zuzuführen. Altgeräte gehören insbesondere nicht in den Hausmüll, sondern in spezielle Sammel- und Rückgabesysteme.</p>
<p><br>2. Batterien und Akkus</p>
<p>Besitzer von Altgeräten haben Altbatterien und Altakkumulatoren, die nicht vom Altgerät umschlossen sind, im Regelfall vor der Abgabe an einer Erfassungsstelle von diesem zu trennen. Dies gilt nicht, soweit die Altgeräte bei öffentlich-rechtlichen Entsorgungsträgern abgegeben und&nbsp; dort zum Zwecke der Vorbereitung zur Wiederverwendung von anderen Altgeräten separiert werden.</p>
<p><br>3. Möglichkeiten der Rückgabe von Altgeräten</p>
<p>Besitzer von Altgeräten aus privaten Haushalten können diese bei den Sammelstellen der öffentlich-rechtlichen Entsorgungsträger oder bei den von Herstellern oder Vertreibern im Sinne des ElektroG eingerichteten Rücknahmestellen abgeben.&nbsp; Ein Onlineverzeichnis der Sammel- und Rücknahmestellen finden Sie hier: <a href="https://www.ear-system.de/ear-verzeichnis/sammel-und-ruecknahmestellen.jsf" rel="nofollow">https://www.ear-system.de/ear-verzeichnis/sammel-und-ruecknahmestellen.jsf</a></p>
<p><br>4. Datenschutz-Hinweis</p>
<p>Altgeräte enthalten häufig sensible personenbezogene Daten. Dies gilt insbesondere für Geräte der Informations- und Telekommunikationstechnik wie Computer und Smartphones. Bitte beachten Sie in Ihrem eigenen Interesse, dass für die Löschung der Daten auf den zu entsorgenden Altgeräten jeder Endnutzer selbst verantwortlich ist.</p>
<p><br>5. Bedeutung des Symbols „durchgestrichene Mülltonne“</p>
<p>Das auf den Elektro- und Elektronikgeräten regelmäßig abgebildeten&nbsp; Symbol&nbsp; einer durchgestrichenen Mülltonne</p>
<p align="center">&nbsp;<img class="tinymce-editor-image" src="https://www.kiom24.de/media/image/Muelltonne.jpg" alt="Muelltonne" width="144" height="169"></p>
<p>&nbsp;weist darauf hin, dass das jeweilige Gerät am Ende seiner Lebensdauer getrennt vom unsortierten Siedlungsabfall zu erfassen ist.</p>
<p><br>6. Weitere Informationen</p>
<p>Wir sind Mitglied des Rücknahmesystems „take-e-back“. Weitere Informationen finden Sie unter <a href="http://www.take-e-back.de/" rel="nofollow">www.take-e-back.de</a> .&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Was ist zu tun wenn ein Energiesparleuchtmittel zerbricht ?</strong></p>
<p><br> Beim Brechen eines Energiesparleuchtmittels unverzüglich das Fenster öffnen und Heizung und Klimaanlage abschalten. Dann den Raum für mindestens 15 min verlassen und die Tür zum Raum schließen. <br> <br> Zu beachten ist das bei einem Energiesparleuchtmittel in Betrieb bedeutend mehr Quecksilber in die Raumluft gelangt als bei einem ausgeschaltetem. Beim ausgeschalteten Leuchtmittel verbleibt der Großteil des Quecksilbers am Glas des Leuchtmittels.&nbsp; <br> <br> Zur Beseitigung der Glassplitter weiterhin das Fenster geöffnet halten und Gummihandschuhe tragen. Keinen Staubsauger oder Besen verwenden, da hierdurch die Quecksilberpartikel in die Raumluft gewirbelt würden. Stattdessen mit Karton oder steifem Papier die Rückstande zusammenkehren und diese in ein verschließbares Gefäß wie z. B. einem Gurkenglas geben. Den Boden danach mit feuchten Tüchern wischen und diese ebenfalls in das luftdichtverschließbare Gefäß geben. Splitter und Staub mit einem Klebeband aufnehmen und ebenfalls in das Behältnis geben. Das Gefäß danach zum Wertstoffhof oder Ihrer örtlichen Entsorgungsstelle bringen, nicht im Hausmüll entsorgen.&nbsp;<strong><br></strong></p>
{% endblock %}
