{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}


    <div class="static container-max page-content">

<h1 style="text-align: left;">Informationen der angebotenen Zahlarten</h1>

<p class="Stil1"><span style="color: #000000;"><strong>Sie haben die Wahl. Bezahlen Sie bequem und sicher mit den folgenden Zahlarten. </strong></span></p>

<p class="Stil1"><span style="color: #000000;"><strong>Vorkasse:</strong></span></p>

<p><span style="color: #000000;">Sie überweisen den Betrag vorab auf unser Konto. Nach Geldeingang wird die Ware, nach angegebener Verfügbarkeit, umgehend an Sie versandt.</span></p>

<p class="Stil1"><span style="color: #000000;"><strong>PayPal:</strong></span></p>

<p><span style="color: #000000;">einfach, schnell und sicher bezahlen per</span></p>

<ul>
	<li><span style="color: #000000;">Lastschrift</span></li>
	<li><span style="color: #000000;">Kreditkarte (Mastercard, Visacard)</span></li>
	<li><span style="color: #000000;">giropay</span></li>
	<li><span style="color: #000000;">PayPal Guthaben</span><br />
	<span style="color: #000000;">Ihr PayPal Konto wird von PayPal nach Durchführung des Zahlungsvorganges belastet</span></li>
</ul>

<p class="Stil1"><span style="color: #000000;"><strong>Kreditkarte:</strong></span></p>

<p><span style="color: #000000;">Sie haben bei kiom24.de die Möglichkeit Ihre Bestellung mit folgenden Kreditkarten zu zahlen: </span><br />
<span style="color: #000000;">MasterCard, Visa</span></p>

<p><span style="color: #000000;">Bei Zahlung per Kreditkarte wird mit Annahme der Bestellung der Zahlungsdienstleister mit dem Einzug des Rechnungsbetrages beauftragt und die Belastung Ihres Kontos erfolgt.</span></p>

<p class="Stil1"><span style="color: #000000;"><strong>Rechnung / BillSAFE: (in Planung)</strong></span></p>

<p><span style="color: #000000;">Beim Bestellprozess wird durch unseren Partner BillSAFE eine Bonitäts- und Identitätsprüfung durchgeführt. Ist diese nicht erfolgreich werden Ihnen andere Zahlungsarten angezeigt. Für den Kauf per Rechnung wird von unserem Partner BillSAFE eine Rechnungspauschale von 3,00 € erhoben. Sofortiger Versand nach Bestelleingang.</span></p>

<p class="Stil1"><span style="color: #000000;"><strong>Rechnung:&nbsp; (für öffentliche Einrichtungen)</strong></span></p>

<p><span style="color: #000000;">Öffentliche Einrichtungen (wie z.B. Behörden, Universitäten, Schulen, Gemeinden, Ministerien, Kommunale Einrichtungen usw.) beliefern wir selbstverständlich auch auf Rechnung, mit 10 Tagen Zahlungsziel ab Rechnungsdatum. Gern können Sie uns Ihre Bestellung auch per Email an <a href="mailto:info@kiom24.de"><span style="color: #000000;">info@kiom24.de</span></a> oder per Fax an +49 (0) 8341 / 90 80 532 mitteilen.</span></p>

<p class="Stil1"><span style="color: #000000;"><strong>Sofortüberweisung:</strong></span></p>

<p><span style="color: #000000;">(nur für Kunden mit deutschem Bankkonto):</span></p>

<p><span style="color: #000000;">sofortüberweisung.de ist ein neues und TÜV-zertifiziertes Online-Zahlungssystem auf Basis des bewährten Online-Bankings mit PIN-/TAN-Eingabe zur sicheren und schnellen Abwicklung Ihrer Online-Käufe.</span></p>

<p><span style="color: #000000;"><span style="text-decoration: underline;">schnell:</span> es entfällt die Wartezeit für eine Überweisung und die Ware geht, sofern lagernd, sofort in den Versand</span><br />
<span style="color: #000000;"><span style="text-decoration: underline;">bequem:</span> Sie benötigen lediglich die Daten von Ihrem Onlinekonto (Ihrer Hausbank). Sie können ganz einfach mit Bankleitzahl, Kontonummer, PIN und TAN bezahlen. Eine Registrierung bei Sofortüberweisung ist nicht notwendig.</span><br />
<span style="color: #000000;"><span style="text-decoration: underline;">sicher:</span> Sicherheit wie beim Onlinebanking. TÜV zertifiziertes Online Zahlungssystem.</span></p>

<p><span style="color: #000000;">So funktioniert „sofortüberweisung.de“</span></p>

<p><span style="color: #000000;">Die einzelnen Schritte im Überblick</span></p>

<p><span style="color: #000000;">1. Schritt:„Überweisungsformular“</span></p>

<p><span style="color: #000000;">Bitte geben Sie zuerst Ihre Bankverbindung (Kontoinhaber, Kontonummer und Bankleitzahl) ein, damit wir eine Verbindung mit Ihrer Bank herstellen können. Der Name der Bank wird automatisch ausgefüllt.</span><br />
<span style="color: #000000;">Auf dem Überweisungsformular sind bereits folgende Angaben ausgefüllt:</span></p>

<p><span style="color: #000000;">Überweisungsbetrag </span><br />
<span style="color: #000000;">Verwendungszweck (z.B. Überweisungsnummer, Kundennummer)&nbsp;</span><br />
<br />
<span style="color: #000000;">2. Schritt:„Legitimation“</span></p>

<p><span style="color: #000000;">Bitte geben Sie, wie beim Online-Banking bei Ihrer Bank gewohnt, Folgendes ein:</span></p>

<p><span style="color: #000000;">Anmeldename zum Login bei Ihrer Bank (Directbanking-Nr. oder Konto-Nr., bankabhängig) </span><br />
<span style="color: #000000;">PIN, die Sie auch bei Ihrer Bank verwenden&nbsp;</span></p>

<p><span style="color: #000000;">3. Schritt:„Überweisung übermitteln“</span></p>

<p><span style="color: #000000;">Bitte überprüfen Sie an dieser Stelle nochmals alle Angaben der Überweisung.</span></p>

<p><span style="color: #000000;">Um die Überweisung abzuschließen, müssen Sie eine gültige TAN, die Ihnen von Ihrer Bank zugeteilt wurde, eingeben und anschließend den Button „Überweisung bestätigen und Bestellung abschließen“ drücken.</span></p>

<p><span style="color: #000000;">Was ist „sofortüberweisung.de“?</span><br />
<span style="color: #000000;">"sofortüberweisung.de" ist eine neue, innovative Zahlungsart mit TÜV-Zertifikat und TÜV geprüftem Datenschutz. Sofortüberweisung wurde von der Payment Network AG entwickelt und bereits in zahlreichen Online-Shops in Deutschland eingesetzt.</span></p>

<p><span style="color: #000000;">Über das gesicherte, für Händler nicht zugängliche Zahlformular der Payment Network AG stellt sofortüberweisung.de automatisiert und in Echtzeit eine Überweisung in Ihrem Online-Bankkonto ein. Der Kaufbetrag wird dabei sofort und direkt an das Bankkonto des Händlers überwiesen.</span></p>

<p><span style="color: #000000;">*Hinweis zur Haftung bei Missbrauchsfällen</span><br />
<span style="color: #000000;">Bei dem Dienst "sofortüberweisung.de" ist es bisher zu keinen Missbräuchen gekommen (TÜV- zertifiziertes-Online-Zahlungssystem). Vorsorglich weisen wir dennoch darauf hin, dass es viele Banken und Sparkassen gibt, die davon ausgehen, dass die Nutzung des Dienstes "sofortüberweisung.de" wegen der Verwendung Ihrer PIN und TAN zu einer Haftungsverlagerung bei etwaigen Missbrauchsfällen durch Dritte führt. Dies kann dazu führen, dass im Missbrauchsfall Ihre Bank sich weigert, den Schaden zu übernehmen und im Ergebnis Sie den Schaden zu tragen haben. Vorsorglich hat daher der Betreiber des Dienstes "Sofortüberweisung", die Payment Network AG, zu Ihren Gunsten eine Versicherung abgeschlossen, die Schäden bei Missbrauch nach Maßgabe der unter diesem Link wiedergegebenen Versicherungsbedingungen ersetzt. Hierdurch sollen Sie im Rahmen des Versicherungsumfanges vor etwaigen Haftungsrisiken geschützt werden.</span></p>

<p><span style="color: #000000;">Ihre Vorteile bei sofortüberweisung.de</span><br />
<span style="color: #000000;">Schnell</span><br />
<span style="color: #000000;">Sofortiger Versand von Lagerware.</span></p>

<p><span style="color: #000000;">Bequem</span><br />
<span style="color: #000000;">Bereits unmittelbar nach Abschluss Ihrer Bestellung können Sie die Überweisung direkt durchführen. Ein Wechsel zur Internetseite Ihrer Bank ist damit nicht mehr erforderlich. Das spart Zeit!</span></p>

<p><span style="color: #000000;">Praktisch</span><br />
<span style="color: #000000;">Die Daten für Ihre Überweisung sind bereits vorausgefüllt (Rechnungsbetrag, Zahlungsempfänger, Auftragsnummer, etc.). Das mühsames Eintippen und Ausfüllen des Überweisungsformulars entfällt.</span></p>

<p><span style="color: #000000;">Sicher wie Online-Banking</span><br />
<span style="color: #000000;">Das System akzeptiert die gleiche PIN und erkennt die gültigen TANs Ihrer Bank, da Sie sich mit diesen Daten bei Ihrer Bank anmelden </span></p>

        

    </div>

{% endblock %}