{{ component( "Ceres::Item.Components.QuantityInput" ) }}

<script type="x/template" id="vue-add-to-basket">
    <div>

        <div v-if="showQuantity">
            <div class="row no-gutters">
                <div class="col-xs-6 col-md-12 col-lg-6 m-y-1">
                    <quantity-input :value="1" @quantity-change="updateQuantity" template="#vue-quantity-input"></quantity-input>
                </div>
                <div class="col-xs-6 col-md-12 col-lg-6 m-y-1">
                    <button href="#" class="btn btn-block btn-primary basket-btn" @click="addToBasket()">
                        <span>In den </span>Warenkorb
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div v-else>
            <div class="AddToBasket-inner">
                <div v-for="prop in item.properties">
                    <div v-bind:class="{
                        'eek-aaa': prop.property.names[0].name === 'A++',
                        'eek-aa' : prop.property.names[0].name === 'A+',
                        'eek-a' : prop.property.names[0].name === 'A',
                        'eek-b' : prop.property.names[0].name === 'B',
                        'eek-c' : prop.property.names[0].name === 'C',
                        'eek-d' : prop.property.names[0].name === 'D',
                        'eek-e' : prop.property.names[0].name === 'E',
                        'hidden-xs-up' : prop.property.names[0].name === 'EEK Skala'
                        }"
                        class="eek-sign" v-if="prop.group.backendName === 'Energieeffizienzklasse'">
                        <a :href="item.images.all[item.images.all.length - 1].url | json"
                        data-lightbox="${item.variation.id}"><span>${ prop.property.names[0].name }</span>
                        </a>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-buy" @click="directToItem()">
                    Jetzt ansehen
                </button>
                <div class="availability-preview availability-${item.variation.availability.id}" v-tooltip data-toggle="tooltip" data-placement="top"
                :title="!item.variation.releasedAt ? item.variation.availability.names[0].name : item.variation.releasedAt | date 'DD.MM.YYYY'">
                <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
    </div>

</script>