.to-top {
    display: block;
    background-color: $gray-dark;
    text-align: center;
    padding: .5rem .5rem;
    text-decoration:none!important;
    &:hover {
    	background-color: $gray-darker;
    }
    i {
    	color: white;
	    font-size: 1.5em;
	    padding: .5em 0;
    }
}

.back-to-top-center {
	text-decoration: none;
	opacity: .5;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	border: 1px solid $gray-darker;
	cursor: pointer;
	text-align: center;
	position: fixed;
	bottom: -17px;
	left: 50%;
	width: 94px;
	height: 50px;
	margin-left: -47px;
	z-index: 1000;
	overflow: hidden;
	background: #fff;
	padding: 20px;
	display: none;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;

	&:hover {
		opacity: 1;
	}
}

.back-to-top-center i {
	font-size: 29px;
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 40px;
	display: block;
	z-index: 1;
}

.back-to-top {
	margin: 0;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 40px;
	height: 40px;
	z-index: 100;
	display: none;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 300ms;
	border: 1px solid $gray-darker;
	background: $gray-dark;
	border-radius: $border-radius;
	cursor: pointer;
	text-align: center;

	&:hover {
		opacity: 1;
	}
}

.back-to-top i {
	font-size: 29px;
	color: $code-bg;
}

.footer{
	display: block;
	background-color: $footer-bg;
	font-family: $font-family-heading;
	a{
		color: $footer-color;
	}

	.svg.plenty-brand {
 		padding:0 .5em;
 		path {
 			fill: $gray-dark;
 		}
 	}

	.footer-features{
		border-top: 1px solid transparent;
		background-color: $footer-features-bg;
		color: $footer-features-color;
		i {
			color:$footer-features-color !important;
		}
	}


	.footer-boxes {
		.box-inner {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    background-size:cover !important;
		}
		.box1 {
			a:hover {
				.box-inner h2 {
					background:rgba($brand-primary,1);
					color: $black;
				}
			}
			.box-inner {
				background:url("../images/footer_new/box1.jpg") no-repeat center center;
				h2 {
					background:rgba($brand-primary,.8);
					color: $gray-darker;
				    position: absolute;
				    bottom: 1em;
				    display: block;
				    left: 50%;
				    transform: translateX(-50%);
				    width: 70%;
				    text-align: center;
				    padding: .5rem;
				}
			}
		}
		.box2 {
			.box-inner {
				background:$gray-dark;
				color: $brand-primary;
				text-align: center;
				h2 {
					text-transform: uppercase;
					padding-top: 2rem;
				}
				a {
					color: $brand-primary;
					&:hover {color:darken($brand-primary, 15%);}
				}
				span {
					display:block;
					font-size: 1.5rem;
					margin-top: 1rem;
				}
				p {
					font-size: 1.2rem;
				}
				
			}
		}
		.box3 {
			.box-inner {
				background:url("../images/footer_new/box2.jpg") no-repeat center center;
				
				.box3-inner {
					position: absolute;
				    left: 1.5rem;
				    top: 1.5rem;
				    bottom: 1.5rem;
				    right: 1.5rem;
				    background: rgba($brand-primary, .8);
				    padding: 1.5em;
					h2 {
						color: $gray-darker;
						text-transform:uppercase;
						font-size: 1.1rem;
					}
					ul {
						@include reset-list();
						li {padding: .5rem 0;}
						a {
							color: $gray-darker;
							font-size: .8rem;
							&:hover {color:$black;}
						}
					}
				}
			}
		}
	}

	.footer-service {
		background:$gray-dark;
		text-align: center;
		color: $white;
		
		.footer-badge {
			width: 6em;
		    height: 6em;
		    margin: 1.5em auto;
		    background: $brand-primary;
		    border-radius: 100%;
		    position: relative;
		    display: block;
			i {
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    font-size: 2rem;
			}
		}
		h2 {
			text-transform: uppercase;
			font-size: 1.3rem;
		}
		p {
			font-size: .9rem;
		}
	}
	.footer-seo {
		h2 {
			text-transform: uppercase;
		}
		p {
			font-family: $font-family-sans-serif;
		}

		
		a.btn {
			padding: .5rem 0;
    		margin-top: -20px;
		    display: block;
		    position: relative;
		    background: $gray-lightest;
		    &:focus {outline: none;}
		    &::before {
		    	display: block;
		    	position:absolute;
		    	content: "";
		    	top:-50px;
		    	height: 50px;
		    	width:100%;

				background: #f7f7f9; /* Old browsers */
				background: -webkit-linear-gradient(top,  rgba(247,247,249, 0), rgba(247,247,249, 1));
				background: -moz-linear-gradient(top,  rgba(247,247,249, 0), rgba(247,247,249, 1));
				background: -o-linear-gradient(top,  rgba(247,247,249, 0), rgba(247,247,249, 1));
				background: -ms-linear-gradient(top,  rgba(247,247,249, 0), rgba(247,247,249, 1));
				background: linear-gradient(top,  rgba(247,247,249, 0), rgba(247,247,249, 1));
		    }
		    &[aria-expanded="true"] {
		    	margin-top: 0;
		    	&:before {
					background:none;
				}
			}
		}
		a[aria-expanded="false"] span:before {
			content:"Mehr";
		}
		a[aria-expanded="true"] span:before {
			content:"Weniger";
		}

	}

	.footer-meta {
		background: $gray;
		color: $gray-darker;
		padding: 0 0 1.5em 0;
		
		h2 {
			text-transform: uppercase;
			margin-top: 2rem;
		}
		h3 {
			font-size: 1.2rem;
		}
		i {
			color: $brand-secondary;
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}
		a.text-primary {
			font-size: 1.5rem;
		}
	}

	.footer-news-social {
		background:$gray-dark;
		color: white;

		a.text-primary i {
			font-size: 2rem;
		}
		.input-group {
		    margin-bottom: 1em;
		}
	}
	.footer-links {
		background:$black;
		color: $white;
		h2 {
			margin: 1rem 0;
			font-size: 1.2rem;
		}
		a,span {
			color: $white;
			display: block;
			margin-bottom: .5rem;
			font-size: .9rem;
    		padding: .5rem 0;
		}
		img {
			margin:0 auto;
			max-width: 90%;
		}
		span {
			font-size: 1.2rem;
			color: $brand-primary;
		}
		svg {
			max-width: 80px;
		}
		#bde_shopreview {
			background:transparent !important;
			color: $white !important;
			margin: 0;
			display: inline-block;
			a {
				img {
					max-width: 100%;
				}
			}
			.shop {display:none;}
		}
	}
	.footer-copyright {
		background:$brand-primary;
		color: $gray-darker;
		font-family: $font-family-sans-serif;
		font-size: .8rem;
	}

	.btn-mail {
	    background-color: $gray;
	    color: white;

		i {
	    	padding: 0 1rem;
		}

		&:hover {
			background-color: $gray-light;
		}
	}

	@include media-breakpoint-up(sm){
		.footer-services{
			flex-flow: row nowrap;
		}
		.footer-boxes {
			.box3 {
				.box-inner {					
					.box3-inner {
						position: absolute;
					    left: 1rem;
					    top: 1rem;
					    bottom: 1rem;
					    right: 1rem;
					    padding: 1em;
					    ul li {padding: .3rem 0;}
						a {
							color: $gray-darker;
							font-size: .9rem;
							&:hover {color:$black;}
						}
					}
				}
			}
		}
	}

	@include media-breakpoint-up(md){
		.footer-boxes {
			.box2 {
				.box-inner {
					h2 {
						padding-top: 5rem;
					}
				}
			}
			.box3 {
				.box-inner {					
					.box3-inner {
					    left: 2rem;
					    top: 2rem;
					    bottom: 2rem;
					    right: 2rem;
					    padding: 2em;
						h2 {
							font-size: 1.5rem;
						}
						ul {
							li {padding: .5rem 0;}
							a {
								font-size: 1.2rem;
							}
						}
					}
				}
			}
		}
		.footer-service {
			h2 {
				font-size: 1.8rem;
			}
			p {
				font-size: 1rem;
			}
		}
		.footer-meta {
			a.text-primary {
				font-size: 2.5rem;
			}
		}
		.footer-links {
			h2 {
				font-size: 1.8rem;
			}
			a {
				font-size: 1.2rem;
			}
		}
	}

	@include media-breakpoint-up(lg){
		.footer-boxes {
			.box2 {
				.box-inner {
					h2 {
						padding-top: 3rem;
					}
				}
			}
			.box3 {
				.box-inner {					
					.box3-inner {
					    left: 1rem;
					    top: 1rem;
					    bottom: 1rem;
					    right: 1rem;
					    padding: 1em;
						h2 {
							font-size: 1.5rem;
						}
						ul {
							li {padding: .4rem 0;}
						}
					}
				}
			}
		}

	}
	@include media-breakpoint-up(xl){
		.footer-boxes {
			.box2 {
				.box-inner {
					h2 {
						padding-top: 5rem;
					}	
				}
			}
			.box3 {
				.box-inner {					
					.box3-inner {
					    left: 2rem;
					    top: 2rem;
					    bottom: 2rem;
					    right: 2rem;
					    padding: 2em;
						ul {
							li {padding: .5rem 0;}
						}
					}
				}
			}
		}

	}
}

.plenty-brand {
	height: 30px;
	margin: 2em 0 0.2em;
}

.static-link-list {
	margin-bottom: -15px;
}

.static-link-list a {
	color: black;
	margin-right: 10px;
}
