//header scss
.top-bar{
	position: fixed;
	width: 100%;
	
	z-index: $zIndex-6;
	color: $top-bar-color;
	font-family:$font-family-heading;
	background-color: $top-bar-bg;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.5);
	a{
		text-decoration: none;
		transition: all 300ms;
		color: $top-bar-color;
	}
	
	.navbar .nav-item.hidden-md-down:hover a,
	.navbar .nav-item.hidden-md-down a[aria-expanded="true"],
	.control-search a[aria-expanded="true"] {
		background:$gray-darker !important;
		color: $white !important;
	}
	.control-search a[aria-expanded="true"] i:before,
	.navbar .nav-item.hidden-md-down a[aria-expanded="true"] i:before {
		content: "\f00d";
	}

	.controls-list{
		margin-bottom: 0;
		font-size: 0;
		width: 100%;
		display: block;

		&>li{
			// default font size for all items
			font-size: 1rem;
			color: $top-bar-color;
			margin-right: 0;

			// sets the height of the top-bar
			a{
				padding: 1.1rem .8rem;
				display: inline-block;
				color: $top-bar-color;

				&[aria-expanded="true"],
				&:hover{
					background-color: $brand-primary;
					color: #FFF;
				}
			}

			// icons should be slightly larger
			.fa{
				font-size: 1.2rem;
			}
		}

		.control-user{
			margin-left: 1rem;
			//login | register
			#login-change {
				position:relative;
				.dropdown-menu {
					z-index: 2000;
					a {
						padding:1rem .8rem;
						border:0;
						border-top: 1px solid $gray-lighter;
						display: block;
						color: $brand-primary;
						&:first-child {
							border-top:0;
						}
						&:hover {
							color: white;
						}
					}
				}
			}
			.account-menu {
				padding:0;
				margin:0;
			}
		}

		.control-search {
			position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		}

		

		.control-basket{
			float: right;
			.toggle-basket-preview{
				background-color: $top-bar-basket-btn;
				color: $top-bar-basket-color;

				.badge{
					margin-left: .5rem;
				}

				&:hover{
					background-color: $brand-primary;
					color: $white;
				}
			}
		}
	}


}


//navigation scss
.wrapper-main {
	#page-body {
		margin-top: 148px;
	}
	.navbar{
		font-family:$font-family-heading;
		background:$navbar-background-color;
		border-bottom:0;
		a {
			color: $brand-primary;
		}
		.navbar-nav {
			.nav-item {
				& > .nav-link {
					min-width: auto;
					border-right:0;
					text-align: center;
				}
				.nav-link.dropdown-toggle::after {
					display: inline-block;
				}
				&:hover {
					.nav-link {
						background:$gray-lighter2;
						color: $gray-dark;
						cursor: pointer;
						&.dropdown-toggle::after {
							display: inline-block;
						}
					}
					.dropdown-menu {
						background:$brand-primary;
						border:0;
						border-left:0;
						border-right:0;
						border-bottom:0;
						text-align: center;
						&::before {
							display: inline-block;
						    width: 0;
						    height: 0;
						    content: "";
						    border-bottom: .5em solid;
						    border-right: .5em solid transparent;
						    border-left: .5em solid transparent;
						    color: $brand-primary;
						    position: absolute;
						    top: -.5em;
						    left: 50%;
						    transform: translateX(-50%);
						}
						.dropdown-item {
							color: $white;
							font-size: .9rem;
							padding: .75rem 1rem !important;
							&:hover {
								background: darken($brand-primary, 10%);
								color: white;
							}
						}
					}
				}
			}
		}
	}
}



//navigation scss

.navbar {
	padding:0;
	z-index: $zindex-navbar;
	background-color: $navbar-background-color;
	border-bottom: 1px solid $gray-lighter;

	.navbar {

		border-radius: 0;
		padding:0;
		z-index: $zindex-navbar;
		border-bottom: 1px solid $gray-lighter;

		.dropdown:hover .dropdown-menu {
			display: block !important;
			margin-top: 0;
		}
	}
}

.brand-wrapper{
	position: relative;
	padding:0 15px;
}

.navbar-brand {

	float: none;
	padding:1em 0 .8em;
  	display: inline-block;
  	max-width: 150px;

  	img {
    	max-height: 3rem;
  	}
}

.navbar-nav {

	.nav-item{
		margin: 0!important;

		&.open {
			position: relative;
		}

		&.active,
		&:hover {
			.nav-link {
				background-color: $nav-link-hover-bg;
				color: $navbar-dark-active-color;
			}
		}

		.nav-link {
			padding: 1rem;
		}
	}
}

.navbar-toggler {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translate(0, -50%);
	color:$brand-primary;
}

// Mobile only
@include media-breakpoint-between(xs, md) {
	.navbar {
		.navbar-nav{

			.dropdown-menu{
				position:relative;
				float: none;

				background-color: $gray-lighter2;
				border: none;
			}
		}
	}
}


@include media-breakpoint-up(sm){
	.wrapper-main {
		#page-body {
			margin-top: 167px;
		}
	}
	.top-bar{
		.list-inline {
			.list-inline-item {
				#login-change {
					a {
						span {
							display: none;
						}
					}
				}
			}
		}
		.controls-list{

			&>li{
				// default font size for all items
				font-size: .8rem;

				.fa{
					// icons should be slightly larger
					font-size: 1rem;
					line-height: .8rem;
				}
			}
		}
	}

}

@include media-breakpoint-up(md){
	.wrapper-main .navbar .navbar-nav .nav-item:hover .dropdown-menu {
		text-align: left;
	}
	
	.sticky {
		.header {
			.navbar {
				max-width: 690px;
				.navbar-brand {
					img {
						max-width: 70%;
					}
				}
				.navbar-toggler {
					top: .75rem;
				}
			}
		}
	}

	.top-bar {
		box-shadow: none;
		.list-inline {
			.list-inline-item {
				#login-change {
					a {
						span {
							display: none;
						}
					}
				}
			}
		}
	}

	header {


		.navbar-brand {
			max-width: 250px;
			img {
				max-width: 100%;
			}
		}

	}
	.wrapper-main {
		#page-body {
			margin-top: 162px;
		}
		.navbar{
			a {
				color: $brand-primary;
			}
			.navbar-nav {
				.nav-item {
					position: static;
					&:hover {
						.nav-link {
							background:$gray-lighter;
						}
						.dropdown-menu {
							background:$gray-lighter;
							position: absolute;
						    width: 100%;
						    display: block;
						    left: 50%;
						    transform: translateX(-50%);
						    top: 100%;
						    max-width: 1200px;
						    flex-direction: column;
						    max-height: 20em;
						    flex-wrap: wrap;
						    align-content: flex-start;
						    
							&::before {
								display: none;
							}
							.dropdown-item {
								color: $gray-darker;
								font-size: .9rem;
								padding: .75rem 1rem !important;
							    display: inline-block;
								width: 24.9%;
								text-transform: uppercase;
								&:hover {
									background: $brand-secondary;
									color: $gray-darker;
								}
							}
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg){
	.wrapper-main {
		.top-bar {
			background:$black;
			.controls-list{
				width: auto;
			}
			.control-basket{
				.toggle-basket-preview{
					background-color: $black;
				}
			}
		}
		.navbar {
			background:$gray-dark;
		}
	}
	.brand-wrapper{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.navbar-brand {
		padding: .75rem 15px .25rem;
	}

	.navbar-nav{
		&>.nav-item{
			&>.nav-link{
				padding: $nav-link-padding;
			}
		}
	}
}

@include media-breakpoint-up(xl){
	.brand-wrapper{
		padding:0;
	}
	.navbar-brand {
		padding: .75rem 0 .25rem;
	}
 	.sticky {
 		.header {
 			.navbar {
 				max-width: 1110px;
 			}
 		}
 	}
 }

.account-menu.dropdown-menu.dropdown-menu-right.small{
	min-width: 100%;
}
