{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}

<div class="footer">
    
    <!-- <div class="container-max footer-boxes m-y-2">
        <div class="row is-flex">
            <div class="col-sm-12 col-md-4">
                <h1>Ihre Vorteile</h1>
                <ul>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                    <li>Text</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <h1>Beratung</h1>
                <p>Sie haben Fragen? Wir beraten Sie gern!</p>
                <p>Der schnellste Draht zu unserer professionellen Beratung:</p>
                <span><a href="tel:123">+49 (0)8341 90 80 533</span>
                <small>Mo-Fr, 08:00 - 17:00 Uhr</small>
                <span><a href="mailto:info@kiom24.de">info@kiom24.de</a></span>
            </div>
            <div class="col-sm-6 col-md-4">
                <h1>Amazon Kunde?</h1>
                <p>Bezahlen Sie jetzt mit den Adress- und Zahlungsdaten, die in Ihrem Amazon-Konto hinterlegt sind.</p>
                <a href="#" class="btn btn-primary btn-lg">Bezahlen mit Amazon</a>
            </div>
        </div>
    </div> -->

    <div class="footer-service m-y-2">
        <div class="container-max">
            <div class="row is-flex text-xs-center">
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-shield" aria-hidden="true"></i></span>
                    <h2>Sicherheit</h2>
                    <p>Lorem Ipsum dolore</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-money" aria-hidden="true"></i></span>
                    <h2>Bezahlung</h2>
                    <p>Lorem Ipsum dolore</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-truck" aria-hidden="true"></i></span>
                    <h2>Versand</h2>
                    <p>Lorem Ipsum dolore</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <span class="footer-badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <h2>Qualität</h2>
                    <p>Lorem Ipsum dolore</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-max footer-seo m-y-2">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    <div class="collapse" id="collapseSEO">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </p>
                <a class="btn btn-link text-xs-center" data-toggle="collapse" href="#collapseSEO" aria-expanded="false" aria-controls="collapseSEO">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i> Mehr
                </a>
            </div>
        </div>
    </div>

    <div class="footer-meta m-y-2">
        <div class="container-max">
            <div class="row text-xs-center">
                <div class="col-xs-12">
                    <h2>Service Hotline</h2>
                    <p>Mo-Fr, 08:00 - 17:00 Uhr</p>
                </div>
                <div class="col-xs-12">
                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i><br />
                    <a href="tel:+4983419080533" class="text-primary">+49 (0) 8341 90 80 533</a>
                </div>
                
            </div>
            <div class="row text-xs-center">
                <div class="col-xs-12">
                    <h2>Ihre Vorteile</h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <h3>30 Tage Rückgaberecht</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <h3>Kostenloser Rückversand<br />
                    (ab 40 &euro; Warengesamtwert)</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <h3>KIOM Bestpreise durch Hersteller Direktvertrieb</h3>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <h3>Erstklassiger Service vor und nach dem Kauf</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-max footer-news-social m-y-2">
        <div class="row">
            <div class="col-sm-6">
                <h1>Newsletter abonnieren<br />
                <span class="text-primary">und 5&euro; kassieren</span></h1>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ihre E-Mail Adresse">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h1>Folgen Sie uns auf:</h1>
                <a class="text-primary m-r-2" href="" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a class="text-primary m-r-2" href="" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="container-max footer-links m-y-2">
        <div class="row">
            <div class="col-sm-6">
                <h2>KIOM24 Service</h2>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kontakt</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Versandinformationen</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Zahlungsbedingungen</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Widerrufsrecht</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> AGB</a>
            </div>
            <div class="col-sm-6">
                <h2>Informationen</h2>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Impressum</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Über uns</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Datenschutz</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Newsletter</a>
                <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Entsorgung</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Bezahlarten</h2>
                <a href="#">Paypal</a>
                <a href="#">Mastercard</a>
                <a href="#">Lastschrift</a>
                <a href="#">Rechnung</a>
                <a href="#">paydirekt</a>
                <a href="#">Vorkasse</a>
            </div>
            <div class="col-sm-6">
                <h2>Versandarten</h2>
                <a href="#">DHL</a>
                <a href="#">dpd</a>
                <a href="#">Spedition</a>
                <h2>Partner</h2>
                <a href="#">billiger.de</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <a href="/">
                     <img src="/layout/plugins/production/kiom/images/logo.png" class="img-fluid">
                 </a>
            </div>
        </div>
    </div>

    <div class="container-max footer-copyright m-y-2">
        <div class="row">
            <div class="col-md-6">
                <sup>*</sup> Alle Preise inkl. gesetzl. Mehrwertsteuer zzgl. Versandkosten und ggf. Nachnahmegebühren, wenn nicht anders beschrieben.
            </div>
            <div class="col-md-6 text-md-right">
                &copy; Copyright 2017 Kiom GmbH &amp; Co. KG
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="availability-modal" tabindex="-1" role="dialog" aria-labelledby="availability-modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="availability-modalLabel">Energieeffizienzklasse: A++</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="https://www.kiom24.de//media/image/10658-07.jpg">
      </div>
    </div>
  </div>
</div>