{% set lang         = services.sessionStorage.getLang() %}

<nav class="navbar">
      <div class="container-max">
        <div class="row">
             <div class="brand-wrapper">
                 <a class="navbar-brand pull-lg-left hidden-lg-up" href="/">
                     <img src="{{ plugin_path('Kiom') }}/images/logo.png" class="img-fluid"/>
                 </a>

                <button class="navbar-toggler hidden-lg-up" type="button">
                     &#9776;
                 </button>
             </div>

            <div id="mainNavbarCollapsable">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>All</a></li>
                    <li class="btnClose"></li>
                </ul>
                 <ul class="mainmenu">
                     <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                     {% categories = services.category.getNavigationTree("item", lang) %}
                     {% level = 1 %}
                     {% include "Kiom::PageDesign.Partials.Header.NavigationList" with  { 'categories' : categories, 'level' : level } %}

                     <li class="pull-lg-right isSearch">
                        <a class="nav-link" data-toggle="collapse" href="#searchBox"
                           aria-expanded="false"
                           aria-controls="searchBox"
                           data-parent="#controlsList">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                 </ul>
             </div>
        </div>
    </div>
</nav>