<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <div class="search-box-shadow-frame">
            <input type="search" class="search-input" v-model="itemSearch.query" @keyup.enter="search()"
                   {% if not services.template.isSearch() %}autofocus{% endif %}>
            <button class="search-submit" type="submit" @click="search()" data-toggle="collapse" href="#searchBox" aria-expanded="true" aria-controls="searchBox" data-parent="#controlsList">
                <i class="fa fa-search sm-up"></i>
            </button>
        </div>
    </div>
</script>